<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="Selenium Test Suite" verbose="2">    
    <listeners>
        <listener class-name="com.example.selenium.listeners.TestListener"/>
        <listener class-name="com.example.selenium.listeners.ScreenshotListener"/>
    </listeners>
    <test name="Google Search Test">
        <classes>
            <class name="com.example.selenium.tests.TestCase01"/>
            <class name="com.example.selenium.tests.TestCase02"/>
        </classes>
    </test>
</suite>